<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Receipt</title>
    
    <link rel="stylesheet" type="text/css" href="static/css/print.css">
</head>
<style type="text/css">
    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }
    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

</style>

<body>
    <div class="invoice-box" id="printTable">
        <table cellpadding="0" cellspacing="0" id="mytable">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>   
                            <td class="title" style="text-align:center">
                                <img src="static/img/logo1.png" style="width:100px; max-width:300px;">
                            </td> 
                        </tr>
                        <tr>   
                            <td style="text-align:center">
                                <b>The Leading Dealer In : Aluminium & Glass</b><br>
                                <b>Located At :
                                Industrial Area Off Kampala Road</b> <br> <b>Ashray Business Park D6</b>
                            </td> 
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                ZakiHila E.A LTD<br>
                                P.O. BOX 1073 - 00100 , Nairobi<br>
                                info@zakihila.co.ke<br>
                                Tel : 020 8000 530 /020 8000 531 /020 8000 532 <br>
                                K.R.A : P05180316D
                            </td>
                            
                            <td>
                                Invoice #: <span id="orderid"></span><br>
                                Date : <span id="dateCreated"></span><br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <table>
                <tr style="background: #eee;">
                    <th>Product Code</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                </tr>
            </table>
            </table>
            </div>
            
            <tr class="heading">
                <td>
                    Payment Method
                </td>
                
                <td>
                    Amount#
                </td>
            </tr>
            
            <tr class="details">
                <td id="payment_method">
                    MPESA
                </td>
                <td id="amount_paid">
                    1000
                </td>
            </tr>
            
            <tr class="heading">
                <td>Item</td>
                <td>Unit Price</td>
            </tr>
            
            <tr class="item last">
                
            </tr>
            
            
        
    
    <button onclick="printFunc()">Print</button>
</body>
<script src="static/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">
    
    var id = location.hash.substr(1);
     ajaxObj = $.ajax({ 
        url: "http://"+window.location.hostname+":4000/getreciept/"+id,
        type: "POST",
        contentType: "application/json",  
        success: function(result){
          var total = 0.0;
          console.log(result)
          for(var item in result['items']){
            console.log(result['items'][item]);
            $("#orderid").text(result['orderid']);
            $("#dateCreated").text(result['date']);
            $("#amount_paid").text(result['total_paid']);
            $("#payment_method").text(result['payment_type']);
            total = total + (parseFloat(result['items'][item]['selling_price']) * parseInt(result['items'][item]['quantity']))
            var txt = '<tr class="item"><td>'+result['items'][item]['product_name']+'</td><td>'+result['items'][item]['quantity']+'&nbsp;&nbsp;&nbsp;&nbsp; X &nbsp;&nbsp;&nbsp;&nbsp;Ksh. '+result['items'][item]['selling_price']+'</td><tr>'
            //<td>'+result['items'][item]['quantity']+'</td>
            $("#mytable").append(txt);
          }

          var txtTotal = '<tr class="total"><td></td><td>Total: Ksh. '+total+'</td></tr>';
          $("#mytable").append(txtTotal);
          var blank ='<tr class="heading"><td></td><td></td></tr>'
          $("#mytable").append(blank);
          var tax = '<tr class="item"><td>V.A.T</td><td>Ksh. '+parseFloat(0.16 * total)+'</td></tr><br><br><br><br>'
          var transport = '<tr class="item"><td>Transport</td><td>Ksh. '+result['transport']+'</td></tr><br><br><br><br>'
          var discount = '<tr class="item"><td>Discount</td><td>Ksh. '+result['discount']+'</td></tr><br><br><br><br>'
          $("#mytable").append(tax);
          $("#mytable").append(transport);
          $("#mytable").append(discount);
          $("#mytable").append(blank);
          total = (total + parseFloat(result['transport'])) - parseFloat(result['discount'])
          var txtTotal = '<tr class="total"><td></td><td> Sub Total: Ksh. '+total+'</td></tr>';
          $("#mytable").append(txtTotal);
          var change = parseFloat(result['total_paid']) - total
          var txtTotal = '<tr class="total"><td></td><td> Change : Ksh. '+change+'</td></tr>';
          $("#mytable").append(txtTotal);
        } 
      });
</script>
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/js/printThis.js"></script>
<script type="text/javascript">
    function printFunc(){
        $("#printTable").printThis({
            debug: false,
            importStyle: true,
        });
    }
</script>
</html>